@import helper._

@(title: String, isLoggedIn: Boolean, userInfo: UserInfo, QueryAndIndexingForm : Form[views.formdata.QueryAndIndexingForm], arrOperations : HashMap[String, String])

@main(title, isLoggedIn, userInfo) { 
@menu_navigate(title,userInfo){

<div id="6" class="list_item">
    <div class="titleParam" style="margin-bottom: 1em;">@title</div>
    @helper.form(routes.ServiceSolrApi.enviarDatos(),'enctype -> "multipart/form-data") {    
    <div style="width: 70%;">            
        <div style="width: 60%;" class="form-group @if(QueryAndIndexingForm("operationSelector").hasErrors) {has-error}">
             <div class="descrptionMessageTable">Seleccione la operacion a realizar:</div>
            @select(
            QueryAndIndexingForm("operationSelector"),
            options(arrOperations),
            '_default -> "Seleccione una opcion",
            '_label -> null,
            'class -> "custom-select-crg"
            )
        </div>        
    </div>

    <div id="origin_data" >    
        <table style="width: 100%;">                   
            <tr>
                <td><div class="descrptionMessage">Ingrese la IP de origen.</div></td>
                <td><div class="descrptionMessage">Ingrese el puerto de origen.</div></td>
            </tr>
            <tr>
                <td>
                    <div style="width: 95%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("ipOrigin").hasErrors) {has-error}">
                         <input type="text" class="form-control" name="ipOrigin" value="@QueryAndIndexingForm("ipOrigin").value"/>
                         <span class="help-block">@{QueryAndIndexingForm("ipOrigin").error.map {error => error.message }}</span>
                    </div>
                </td> 
                <td>
                    <div style="width: 100%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("portOrigin").hasErrors) {has-error}">
                         <input type="text" style="width: 40%;" class="form-control" name="portOrigin" value="@QueryAndIndexingForm("portOrigin").value"/>
                         <span class="help-block">@{QueryAndIndexingForm("portOrigin").error.map {error => error.message }}</span>
                    </div>                        
                </td>
            </tr>
            
            <tr>
                <td><div class="descrptionMessage">Ingrese el nombre de la coleccion.</div></td>
            </tr>
            
            <tr>
                <td>
                    <div style="width: 95%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("originCollectionName").hasErrors) {has-error}">
                         <input type="text" class="form-control" name="originCollectionName" value="@QueryAndIndexingForm("originCollectionName").value"/>
                        <span class="help-block">@{QueryAndIndexingForm("originCollectionName").error.map {error => error.message }}</span>
                    </div>                        
                </td>
            </tr>

            <tr>
                <td><div class="descrptionMessage">Ids a consultar (use || para separarlos)</div></td>
            </tr>
            
            <tr>
                <td>                    
                    <div style="width: 95%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("idsQuery").hasErrors) {has-error}">
                         <input type="text" class="form-control" name="idsQuery" placeholder="Si no se ingresan Ids, se consultar&aacute;n todos los existentes" value="@QueryAndIndexingForm("idsQuery").value" />
                        <span class="help-block">@{QueryAndIndexingForm("idsQuery").error.map {error => error.message }}</span>
                    </div>                    
                </td>
            </tr>
            
        </table>
    </div>

    <div id="destination_data">
        <table style="width: 100%;">
            <tr>
                <td><div class="descrptionMessage">Ingrese la IP de destino.</div></td>
                <td><div class="descrptionMessage">Ingrese el puerto de destino</div></td>
            </tr>
            <tr>
                <td>
                    <div style="width: 95%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("ipDestination").hasErrors) {has-error}">
                         <input type="text" class="form-control" name="ipDestination" value="@QueryAndIndexingForm("ipDestination").value"/>
                         <span class="help-block">@{QueryAndIndexingForm("ipDestination").error.map {error => error.message }}</span>
                    </div>                        
                </td>
                <td>
                    <div style="width: 100%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("portDestination").hasErrors) {has-error}">
                         <input type="text" style="width: 40%;" class="form-control" name="portDestination" value="@QueryAndIndexingForm("portDestination").value"/>
                        <span class="help-block">@{QueryAndIndexingForm("portDestination").error.map {error => error.message }}</span>
                    </div>                        
                </td>
            </tr>
            <tr>
                <td><div class="descrptionMessage">Ingrese el nombre de la coleccion destino.</div></td> 
            </tr>
            <tr>
                <td>
                    <div style="width: 95%;float: left;margin-right: 10px;" class="form-group @if(QueryAndIndexingForm("destinationCollectionName").hasErrors) {has-error}">
                         <input type="text" class="form-control" name="destinationCollectionName" value="@QueryAndIndexingForm("destinationCollectionName").value"/>
                        <span class="help-block">@{QueryAndIndexingForm("destinationCollectionName").error.map {error => error.message }}</span>
                    </div>                        
                </td>
            </tr>            
        </table>
    </div>

    <div id="jsonFile_data">
        <table style="width: 100%;">
            <tr>
                <td><div class="descrptionMessage">Seleccione el archivo que desea indexar (.json)</div></td>
            </tr>
            <tr>
                <td>
                    <div style="width: 70%;" class="form-group @if(QueryAndIndexingForm("jsonCargado").hasErrors) {has-error}">
                         <input type="file" accept=".json" class="form-control" name="jsonFileToIndex" />
                        <span class="help-block">@{QueryAndIndexingForm("jsonCargado").error.map {error => error.message }}</span>
                    </div>                        
                </td>
            </tr>
            <div>
                <input type="hidden" name="jsonCargado" id="jsonCargado" value="">
            </div>
        </table>
    </div>       

    <div style="margin-top: 15px;">
        <input class="btn btn-success" type="submit" value="Ejecutar">
    </div>
    }
</div>

<script>

    var select = document.getElementById("operationSelector");
    var originDiv = document.getElementById("origin_data");
    var destinationDiv = document.getElementById("destination_data");
    var fileDiv = document.getElementById("jsonFile_data");
    
    document.addEventListener('DOMContentLoaded', function () {
        
        if (select.value === "Indexar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "none";

        } else if (select.value === "Guardar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "none";
            fileDiv.style.display = "none";

        } else if (select.value === "Guardar e Indexar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "none";

        } else if (select.value === "Indexar Archivo JSON") {

            originDiv.style.display = "none";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "block";

        }

    });

    document.querySelector('input[type="file"]').addEventListener('change', function () {
        if (this.files && this.files[0]) {
            var hiddenArchivo = document.getElementById("jsonCargado");
            hiddenArchivo.value = this.files[0].name;
        }
    });

    select.addEventListener("change", function () {
        
        if (select.value === "Indexar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "none";

        } else if (select.value === "Guardar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "none";
            fileDiv.style.display = "none";

        } else if (select.value === "Guardar e Indexar") {

            originDiv.style.display = "block";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "none";

        } else if (select.value === "Indexar Archivo JSON") {

            originDiv.style.display = "none";
            destinationDiv.style.display = "block";
            fileDiv.style.display = "block";

        }

    });

</script>

}
@footer(title)
}
