@import helper._

@(title: String, isLoggedIn: Boolean, userInfo: UserInfo, arrScripts: HashMap[String, String], uploadFileIndexerForm : Form[views.formdata.uploadFileIndexerForm])

@main(title, isLoggedIn, userInfo) {
    @menu_navigate(title,userInfo){
    <div id="6" class="list_item">
        @helper.form(routes.UploadOtherFiles.upLoadOtherFile(),'enctype -> "multipart/form-data") {
        <fieldset>
            <table style="width: 40%;">
                <tr>
                    <td><div class="titleParam">Carga De Archivos.</div></td>
                </tr>                       

                <tr>
                    <td colspan="2">
                        <div style="width: 100%;" class="form-group">
                            <div class="descrptionMessage">Seleccione el buscador donde se realizar&aacute; la indexaci&oacute;n de la informaci&oacute;n</div>
                            <select class="form-control" style="width: 100%;" id="@uploadFileIndexerForm("buscador").id" name="@uploadFileIndexerForm("buscador").name">
                                    <option value="" disabled selected>Seleccione un buscador</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width: 100%;" class="form-group">
                            <div class="descrptionMessage">Seleccione el origen del archivo a indexar</div>
                            <select class="form-control" style="width: 100%;" id="@uploadFileIndexerForm("typeUploadIndexer").id" name="@uploadFileIndexerForm("typeUploadIndexer").name">
                                <option value="" disabled selected>Seleccione una opci&oacute;n</option>
                                <option value="file">Local</option>
                                <option value="http">HTTP</option>
                                <option value="sftp">SFTP</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr class="trFileUpload" style="display:none">
                    <td><div class="descrptionMessage ">Seleccione su archivo </div></td>
                </tr>
                <tr class="trFileUpload" style="display:none">
                    <td>
                        <div style="width: 45%;float: left;margin-right: 10px;" class="form-group @if(uploadFileIndexerForm("pathFile").hasErrors) {has-error}">
                            <input type="file" accept=".csv,.xlsx" name="@uploadFileIndexerForm("pathFile").name" id="@uploadFileIndexerForm("pathFile").id" value="@uploadFileIndexerForm("pathFile").value"/>
                            <span class="help-block" id="spanPathServiceCrawler">@{uploadFileIndexerForm("pathFile").error.map {error => error.message }}</span>
                        </div>
                    </td>
                </tr>
                <tr class="trFileURLUpload" style="display:none">
                    <td><div class="descrptionMessage">Ingrese la URL del archivo</div></td>
                </tr>
                <tr class="trFileURLUpload" style="display:none">
                    <td colspan="2">
                        <input type="text" class="form-control" name="@uploadFileIndexerForm("pathFileURL").name" id="@uploadFileIndexerForm("pathFileURL").id" value="@uploadFileIndexerForm("pathFileURL").value"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="tableParamsSFTP" style="width: 100%;display: none;">
                            <tr>
                                <td><div class="descrptionMessage">Ingrese la informacion del servicio SFTP.</div></td>
                            </tr>
                            <tr>
                                <td><div class="descrptionMessage">Host</div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="@uploadFileIndexerForm("pathFileSFTPHost").name" id="@uploadFileIndexerForm("pathFileSFTPHost").id" value="@uploadFileIndexerForm("pathFileSFTPHost").value"/>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="descrptionMessage">Usuario</div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="@uploadFileIndexerForm("pathFileSFTPUsername").name" id="@uploadFileIndexerForm("pathFileSFTPUsername").id" value="@uploadFileIndexerForm("pathFileSFTPUsername").value"/>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="descrptionMessage">Contrase&ntilde;a</div></td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="password" class="form-control" name="@uploadFileIndexerForm("pathFileSFTPPass").name" id="@uploadFileIndexerForm("pathFileSFTPPass").id" value="@uploadFileIndexerForm("pathFileSFTPPass").value"/>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="descrptionMessage">Ingrese el path del archivo en el servidor remoto</div></td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="@uploadFileIndexerForm("pathFileSFTP").name" id="@uploadFileIndexerForm("pathFileSFTP").id" value="@uploadFileIndexerForm("pathFileSFTP").value"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" id="idCheckedCleanData" style="margin-top: 20px;margin-left: 0px;" /> 
                        <input type="hidden" name="@uploadFileIndexerForm("checkedCleanDataExcel").name" id="@uploadFileIndexerForm("checkedCleanDataExcel").id" value="false"/> 
                        <div class="descrptionMessage" style="margin-left: 20px;">Limpiar datos</div>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input" id="idCheckedCleanCore" style="margin-top: 20px;margin-left: 0px;" /> 
                        <input type="hidden" name="@uploadFileIndexerForm("checkedCleanDataCore").name" id="@uploadFileIndexerForm("checkedCleanDataCore").id" value="false"/> 
                        <div class="descrptionMessage" style="margin-left: 20px;">Limpiar colecci&oacute;n</div>
                    </td>
                </tr>
                <tr>
                    <td><div class="descrptionMessage">Seleccione un archivo de limpieza </div></td>
                </tr>
                <tr>
                    <td>
                        @select(
                        uploadFileIndexerForm("nameScript"),
                        options(arrScripts),
                        '_label -> null,
                        '_default -> "Seleccione un archivo de limpieza",
                        'class -> "custom-select-crg"
                        )
                    </td>

                </tr>
                <tr>
                    <td><div style="margin-top: 15px;"><input class="btn btn-success" type="submit" value="Guardar"></div></td>
                </tr>
            </table>
        </fieldset>
        }
        <script>
            $(document).ready(function () {
                current_tab("h3_OtrosArchivos");
            });
        </script>
    </div>
    }
    @footer(title)
}